# {{ ansible_managed }}

<VirtualHost _default_:443>

    ServerName {{ item }}

    SSLEngine on
    SSLProtocol TLSv1.2
    SSLCipherSuite HIGH:MEDIUM:!SSLv3:!kRSA:!RC4:!3DES
    SSLCertificateFile {{ cerbot_work_dir }}/live/{{ item }}/cert.pem
    SSLCertificateKeyFile {{ cerbot_work_dir }}/live/{{ item }}/privkey.pem
    SSLCertificateChainFile {{ cerbot_work_dir }}/live/{{ item }}/chain.pem

    <IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    </IfModule>

    ErrorLog ${APACHE_LOG_DIR}/{{ item }}_ssl_error.log
    TransferLog ${APACHE_LOG_DIR}/{{ item }}_ssl_access.log
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/{{ item }}_ssl_request.log \
            "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>

